body{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    font-size: 1.5rem;
    color: #F47920;  
}
dialog{    
    background-color: #fff;
    border: 1px solid rgb(150, 90, 60);
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    position: relative;
    left: 20rem;
    box-shadow:
    0 0.5rem 0.8rem 0rem rgb(180, 180, 180),
    0 2.5rem 9rem 0.4rem rgb(150, 90, 60) inset;
}
.habit-form{
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    background-color: #fcfcfc;    
}
.habit-inputs{
    display: flex;
    flex-direction: column;
    gap:1rem;      
}
p{
    margin: 0px;
}
.habit-input{
    font-size: 1.2rem;
    height: 3rem;
    border: 2px solid  #F47920;  
    border-radius: 1rem;
    width: 25rem;
}
.goal-input{
    font-size: 1.2rem;
    height: 3rem;
    border: 2px solid  #F47920;  
    border-radius: 1rem;
    width: 12rem;
}
select{
    height: 3.4rem;
    border: 2px solid  #F47920;  
    border-radius: 1rem;
    width:13rem;
    font-size: 1rem;
    color: rgb(150, 90, 60);
}
option{
    font-size: 1.2rem;
    color: #F47920;  
}
label{
    font-size: 1.2rem;
    color: #F47920;  
}
.habit-footer{
    display: flex;
    gap: 0.5rem;
}
button{
    height: 3rem;
    width: 8rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    background-color: #f78533; 
    color: #fff;
    border: 1px solid #f59a59;
}
